# Dependencies
node_modules/
.pnpm-store/

# Production builds
dist/
build/
.output/

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Environment & local configs
.env
.env.local
.env.*.local
*.local

# System & IDE files
.DS_Store
Thumbs.db
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Database & SQLite files
*.db
*.db-journal
*.sqlite
uploads/*
!uploads/.gitkeep
*.tsbuildinfo
