# Dependencies
node_modules/
.pnpm-store/

# Production builds
dist/
build/

# Types/TS Build Info
*.tsbuildinfo

# Local Environment variables
.env*.local
.env.local
.env.development.local
.env.test.local
.env.production.local

# IDEs & System files
.DS_Store
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
